<div class="container">
<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h1 class="intro-text text-center hFont"><strong>Structural Analysis &amp; Design</strong></h1>
      <hr>
      <div class="center">

        <!-- Structural -->

        <ul class="fa-ul listFont">
          <li><i class="fa-li fa fa-chevron-right"></i>Performed detailed analysis and design of an 80 ft tall tripod mobile mooring mast for lighter-than-air airships.</li>
          <br />
          <li><i class="fa-li fa fa-chevron-right"></i>Redesigned large sonar array on side of Navy cruiser that resulted in $ 1 M cost savings.</li><br />
          <li><i class="fa-li fa fa-chevron-right"></i>Performed finite element analysis to identify flaws in a printed wiring board that was holding up production.</li><br />
          <li><i class="fa-li fa fa-chevron-right"></i>Received George Westinghouse Bronze Signature award of Excellence for “multimillion dollar cost savings on several diverse and difficult design rolls”.</li><br />
          <li><i class="fa-li fa fa-chevron-right"></i>Performed analysis and design of a ground based trailer and mooring system for large aerostat.</li><br />
          <li><i class="fa-li fa fa-chevron-right"></i>Previous finite element user, still proficient at hand structural analysis.</li><br />
        </ul>
        <div class="row">
          <div class="col-md-6">
            <figure>
              <div class="imgcaption">
                <img src="./assets/img/graphite_ElectronicsEnclosure.png" alt="The Pulpit Rock" width="304" height="228">
                <figcaption><strong>Design of a Composite graphite/epoxy Electronics Enclosure</strong></figcaption>
              </div>
            </figure>
          </div>
          <div class="col-md-6">
            <figure class="imgcaption">
              <div>
                <img src="./assets/img/graphite_Shroud.png" alt="The Pulpit Rock" width="304" height="228">
                <figcaption><strong>Design of a Composite Graphite/epoxy Shroud</strong></figcaption>
              </div>
            </figure>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>