<div class="container">
<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h1 class="intro-text text-center hFont"><strong>Biomedical &amp; Biomechanics</strong></h1>
      <hr>
      <div class="center">

        <!-- BioMechanics -->

        <ul class="fa-ul listFont">
          <li><i class="fa-li fa fa-chevron-right"></i>Performed redesign and analysis of a titanium intramedullary implant to a Polyetheretherketone (PEEK)/Glass fiber composite to better match the properties of bone, and prevent premature loosening of the implant.</li>
          <br />
          <li><i class="fa-li fa fa-chevron-right"></i>Designed and developed a continuous fiber/particulate composite total surface hip replacement that would result in longer life, hence lower cost, than an equivalent steel hip joint.</li><br />
          <li><i class="fa-li fa fa-chevron-right"></i>Created and won proposals to develop a business area in impact biomechanics to prevent injury to soldiers, which was transitioned to a multi-M $ program.</li><br />
          <li><i class="fa-li fa fa-chevron-right"></i>Principal Investigator &amp; Program Manager on efforts to produce physical and computational models of the human for blast and ballistic impact studies.</li><br />
          <li><i class="fa-li fa fa-chevron-right"></i>Work Examples
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-angle-right"></i><a href="./assets/pdf/Roberts_Comp_Exper_Models_J_Biomech_2007.pdf">Roberts_Comp_Exper_Models_J_Biomech_2007.pdf</a></li>
              <li><i class="fa-li fa fa-angle-right"></i><a href="./assets/pdf/Roberts_Human_Head-Neck_Comp_J_Biomech_2012.pdf">Roberts_Human_Head-Neck_Comp_J_Biomech_2012.pdf</a></li>
            </ul>
          </li><br />

        </ul>
        <div class="row">
          <div class="col-md-6">
            <figure>
              <div class="imgcaption">
                <img src="./assets/img/bone_resorption.png" alt="Bone Resorption" width="304" height="228">
                <figcaption><strong>Bone Resorption of a Metal Intramedullary Implant</strong></figcaption>
              </div>
            </figure>
            <br />
            <figure class="imgcaption">
              <div>
                <img src="./assets/img/finite_element_model_bone.png" width="304" height="228">
                <figcaption><strong>Superior Design With Proper Materials</strong></figcaption>
              </div>
            </figure>
            <br />
            <figure>
              <div class="imgcaption">
                <img src="./assets/img/intramedullary_implant.png" width="304" height="228">
                <figcaption><strong>Implant With Properties Matched to Those of Bone</strong></figcaption>
              </div>
            </figure>
          </div>
          <div class="col-md-6">
            <figure class="imgcaption">
              <div>
                <img src="./assets/img/jackTorsoCombined.jpg" alt="Human Torso and Head" width="304" height="228">
                <figcaption><strong>Human Torso Physical Surrogate and Finite Element Models for Ballistic and Blast</strong></figcaption>
              </div>
            </figure>
            <br />
            <figure class="imgcaption">
              <div>
                <img src="./assets/img/jackHeadCombined.jpg" alt="Human Torso and Head" width="304" height="228">
                <figcaption><strong>Human Head Physical Surrogate and Finite Element Models for Ballistic and Blast</strong></figcaption>
              </div>
            </figure>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
</div>
