<div class="container">
<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h1 class="intro-text text-center hFont"><strong>Composite Materials</strong></h1>
      <hr>
      <div class="center">
        <!-- Materials -->

        <ul class="fa-ul listFont">
          <li><i class="fa-li fa fa-chevron-right"></i>Performed redesign &amp; analysis of an optical aluminum shroud on an aerospace application in graphite/epoxy
            that reduced weight, increased stiffness and lowered cost by a factor of 2.</li>
          <br />
          <li><i class="fa-li fa fa-chevron-right"></i>Developed methods to prevent Electromagnetic Interference (EMI) from entering or exiting graphite/epoxy enclosures.</li><br />
          <li><i class="fa-li fa fa-chevron-right"></i>Redesigned main Spar in an Unmanned Aerial Vehicle (UAV) from aluminum to graphite/epoxy to increase stiffness and lower weight.</li><br />
          <li><i class="fa-li fa fa-chevron-right"></i>Performed redesign &amp; analysis of an aluminum antenna on a space structure in graphite/epoxy to reduce weight and increase stiffness.</li><br />
          <li><i class="fa-li fa fa-chevron-right"></i>Developed methods to enhance cooling of composite printed wiring boards.</li><br />


          <li><i class="fa-li fa fa-chevron-right"></i>Proficient at micromechanics, laminate analysis, and buckling of composite plates and shells.</li><br />
        </ul>
        <div class="row">
          <div class="col-md-6">
            <figure>
              <div class="imgcaption">
                <img src="./assets/img/hat_stiffened_plate.png" alt="Hat Stiffened Plate" width="304" height="228">
                <figcaption><strong>First Buckling Mode Shape of Glass/Epoxy Plate</strong></figcaption>
              </div>
            </figure>
          </div>
          <div class="col-md-6">
            <figure class="imgcaption">
              <div>
                <img src="./assets/img/collapse.png" alt="Collapse" width="304" height="228">
                <figcaption><strong>Collapse of Glass/Epoxy Plates</strong></figcaption>
              </div>
            </figure>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
</div>
