<div class="container">
<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h1 class="intro-text text-center hFont"><strong>Proposal Writing &amp; Evaluation</strong></h1>
      <hr>
      <div class="center">

        <!--  Proposal -->

        <ul class="fa-ul listFont">
          <li><i class="fa-li fa fa-chevron-right"></i>Reviewed proposals for the American Institute of Biological Sciences (ABS), and U.S. Army Research and Materiel Command (USAMRMC).</li>
          <br />
          <li><i class="fa-li fa fa-chevron-right"></i>Created and won 18 proposals (> $ 6 M) as Principal Investigator and Program Manager with a funding stream from:</li>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-angle-right"></i>Office of Naval Research (ONR)</li>
            <li><i class="fa-li fa fa-angle-right"></i>U.S. Army Natick Soldier Research, Development and Engineering Center (NSRDEC)</li>
            <li><i class="fa-li fa fa-angle-right"></i>Naval Surface Warfare Center (NSWC)</li>
            <li><i class="fa-li fa fa-angle-right"></i>Triad Investors</li>
          </ul>
          <br />
          <li><i class="fa-li fa fa-chevron-right"></i>Over 115 peer reviewed publications and presentations.</li><br />
          <li><i class="fa-li fa fa-chevron-right"></i>Sixteen (16) Patents</li><br />
          <li><i class="fa-li fa fa-chevron-right"></i>Three (3) Book Chapters</li><br />
          <li><i class="fa-li fa fa-chevron-right"></i>Specialty Chief Editor of the Frontiers online journal Biomechanics</li><br />
          <li><i class="fa-li fa fa-chevron-right"></i>Reviewer for following journals:</li>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-angle-right"></i>Journal of Biomechanics</li>
            <li><i class="fa-li fa fa-angle-right"></i>Frontiers Journal Biomechanics</li>
            <li><i class="fa-li fa fa-angle-right"></i>J. Composite Materials</li>
            <li><i class="fa-li fa fa-angle-right"></i>Composites Engineering-Part B</li>
            <li><i class="fa-li fa fa-angle-right"></i>J. Advanced Materials</li>
            <li><i class="fa-li fa fa-angle-right"></i>J. Biomedical Engineering</li>
            <li><i class="fa-li fa fa-angle-right"></i>Medical Engineering and Physics</li>
            <li><i class="fa-li fa fa-angle-right"></i>Acta Biomaterialia</li>
          </ul>
          <br />
        </ul>

      </div>

    </div>
  </div>
</div>
</div>