<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center hFont"><strong>Jack's Awards</strong></h2>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <figure>
              <img class="img-responsive img-border img-left" src="./assets/img/rsz_jackaward.jpg" style="width:500%;height:50%" alt="Jack receiving the Master Inventor Award in 2008">
              <figcaption>Jack receiving the Master Inventor Award in 2008.</figcaption>
            </figure>

          </div>
          <div class="col-md-8">
            <ul class="fa-ul listFont">
              <li><i class="fa-li fa fa-chevron-right"></i>Named Chief Editor of the Frontiers on-line journal <i>Biomechanics</i>, 2013.</li>
              <br />
              <li><i class="fa-li fa fa-chevron-right"></i>Made ASME Fellow, 2011. </li><br />
              <li><i class="fa-li fa fa-chevron-right"></i><strong><i>Master Inventor</i></strong> award From JHU/APL in 2008.  At this time there had been only 24 recipients of the award since the APL was founded in 1942. (On left.)</li><br />
              <li><i class="fa-li fa fa-chevron-right"></i><strong><i>Outstanding Development Paper in an Externally Refereed Journal Publication</i></strong>, October 2007, JHU/APL.</li><br />
              <li><i class="fa-li fa fa-chevron-right"></i><strong><i>Senior Technical Fellow Emerald Award</i></strong> from Science Spectrum Magazine in 2006.</li><br />
              <li><i class="fa-li fa fa-chevron-right"></i>Co-recipient of the <strong><i>2003 Inventor of the Year Award in Physical Sciences</i></strong>, The Johns Hopkins University, Applied Physics Laboratory.</li><br />
              <li><i class="fa-li fa fa-chevron-right"></i><strong><i>Maurice Simpson Technical Editors Award</i></strong> for best paper, Institute of Environmental Sciences (IE.), 1992.</li><br />
              <li><i class="fa-li fa fa-chevron-right"></i><strong><i>George Westinghouse Bronze Signature Award of Excellence for diversified and difficult design roles that resulted in $ 1 M cost savings</i></strong>, Westinghouse Corporation (Northrop-Grumman), 1988.</li><br />
              <li><i class="fa-li fa fa-chevron-right"></i><strong><i>Special Commendation for Technical Innovation</i></strong>, the Bendix Corporation (Allied-Signal), 1983.</li><br />
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<!-- /.container -->