<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center hFont"><strong>About Jack</strong></h2>
        <hr>
        <img class="img-responsive img-border img-left" src="./assets/img/rsz_jack.jpg" style="width:15%;height:15%" alt="">
        <hr class="visible-xs">
        <div class="pFont">
          <p>Jack Roberts received B.S. and M.S. in Mechanical Engineering from the University of Michigan and his Ph.D. in Mechanical Engineering from Rensselaer Polytechnic Institute and is an ASME Fellow. Dr. Roberts is also a world-renowned research scientist, engineer and professor. He is looking to continue to provide these services to commercial industry and U.S. Government Agencies.</p>
          <p> While working for the Applied Physics Laboratory as a member of the Principal Staff, he was instrumental in the Lab acquiring new business based on his expertise in structures, composite materials &amp; biomechanics. His expertise in biomechanics helped save lives by providing mechanical engineering solutions using state-of-the-art physical &amp; computational models of the human to help better provide protection for the war fighters.</p>
          <p>Dr. Roberts has been supporting the Department of Defense (DoD), Intelligence Community, Academia, and Industry for 30+ Years designing, developing and deploying creative, imaginative and effective mechanical and biomechanical engineering solutions.  He has been an engineer, professor and proposal writer enabling the capturing of new business using his experience and expertise.  He now has his own consulting firm specializing in structural design &amp; analysis, composite design &amp; analysis, biomedical &amp; biomechanics, and proposal writing &amp; evaluation. </p>
        </div>
      </div>
    </div>
  </div>


</div>
<!-- /.container -->